# No need to check docs in.
docs/vendor
docs/random.txt

# Experimental directory
experimental/

# What happensin sandbox stays in sandbox.
sandbox/

# Build by-product.
pad.asm

# Binaries and other file format that don't need to be kept.
*.bin
*.o
*.dis
*.map
*.swp
*.swo
*.img
*.dump
*.elf
*.hdd
*.fs

# The final image, just another binary.
os-image
